<div class="signup">
<h1 class="signup-header1">Sign Up Page</h1>
<div class="row expanded align-center">
  <h1 class="signup-header2">Register an Account</h1>
</div>


  <div class="row align-center">
  <form>
    <div class="signup-email-div">
      <label>Email
        <input type="text" placeholder="Enter Email Address" id="email"
               [(ngModel)]="email" name="email" required #em="ngModel">@bloggingworld.com
      </label>
    </div>

    <div class="signup-username-div">
      <label>Username
        <input type="text" placeholder="Enter Username" id="username"
               [(ngModel)]="username" name="username" required #em="ngModel">
      </label>
    </div>

    <div class="signup-password-div">
      <label>Password
        <input type="password" placeholder="Enter Password" id="password1"
               [(ngModel)]="password1" name="password1" required #pwd1="ngModel">
      </label>
    </div>

    <div class="signup-confirm-div">
      <label>Confirm
        <input type="password" placeholder="Confirm Password" id="password2"
               [(ngModel)]="password2" name="password2" required #pwd2="ngModel">
      </label>
    </div>

    <div class="small-12 columns">
      <div class="expanded button-group">
      <button class="signup-signup"> <a class="success button" (click)="signUp()">Sign Up</a></button>
      <button class="signup-cancel"> <a class="cancel button" (click)="cancel()">Cancel</a></button>
      </div>
    </div>
  </form>
</div>
</div>



